@import url(https://fonts.googleapis.com/css?family=Work+Sans);

@import url(https://fonts.googleapis.com/css?family=Kanit:500);

@import url(https://fonts.googleapis.com/css?family=Martel+Sans);

html {
    overflow-y: scroll;
}

body {
    background: #eee;
    background-size: cover;
    font-family: Work Sans, Biryani;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Kanit;
    color: #000;
}

.twitter {
    width: 450px;
    margin: 0 auto;
}

.nolist {
    list-style: none;
    padding: 0;
}

a, p, textarea {
    font-family: "Martel Sans";
    color: #000;
}

@media(min-width: 1200px) {
    .nicepadding {
        padding-left: 125px;
        padding-right: 125px;
    }
}

hr {
border: 3px solid #333;
}

.casinocoin {
    color: #A61B22;
}
.sandcoins {
    color: rgba(62, 68, 89, 0.99);
}

/* User and Main Navbars */


.mainNav {
    border-radius: 0;
    border: 0;
    margin-bottom: 0px;
    background: #A61B22;
    min-height: 120px;
    padding: 0;
}

#mainNavBar {
    margin-top: 35px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 22px;
    font-family: "Kanit";
}

.navbar-default .navbar-nav>li>a:hover {
    color: black;
}

.navbar-default .navbar-nav>li>a:focus {
    color: black;
}

#mainLogo {
    font-size: 20px;
    color: white;
    padding: 20px 50px;
}

.mainLogo {
    margin-top: 0;
    background: #fff;
    height: 120px;
}

.homePage {
    min-height: 500px;
    background: #fff;
}

.otherPages {
    min-height: 500px;
    background: #fff;
}

.wallet {
    width: 100%;
}


.abouttext {
    font-family: "Martel Sans";
    font-size: 16px;
    line-height: 40px;
margin-top: 25px;
}

.mainBox {
    padding: 50px 50px;
}

.a {
    padding: 5px;
}

.inside {
    background: #A61B22;
    min-height: 180px;
    text-align: center;
    padding: 1px 10px 0 10px;
    font-size: 14px;
}

.inside h2 {
color: white;
}

.inside p {
    line-height: 25px;
    color: #eee;
}

.inside ul li {
    color: #eee;
}

.thirdBlock {
    padding: 0px 50px 0px 50px;
}

.downloads {
    text-align: center;
    margin-bottom: 50px;
}

.downloads button {
    min-width: 175px;
}

.download {
    margin-bottom: 30px;
}

.algo:before {
    font-weight: bold;
    color: black;
    content: "Algorithm: ";
}

.block:before {
    font-weight: bold;
    color: black;
    content: "BlockTime: ";
}

.coin:before {
    font-weight: bold;
    color: black;
    content: "CoinSupply: ";
}

.target:before {
    font-weight: bold;
    color: black;
    content: "Retarget: ";
}
.reward:before {
    font-weight: bold;
    color: black;
    content: "BlockReward: ";
}





select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    width: 165px;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    margin: 20px auto;
    width: 100%;
}
.emailBtn,
.emailBtn:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #eee;
}

.redInput {
    background: #eee;
    height: 40px;
    outline: none;
}
button.btn {
    height: 60px;
}

button.btn5 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 40%;
}
.promise {
    color: #999;
}

.btn-info {
    background-color: #A61B22;
    border-color: #e4002b;
}

.btn-info:hover {
    background-color: #e4002b;
    border-color: #A61B22;
}

.downloads button:hover {
    background: #A61B22;
    color: white;
    width: 200px;
}

.footer {
    height: 100px;
    margin-top: 50px;
}

.middleFooter {
    background: #eee;
    text-align: center;
}

.middleFooter i:hover {
    cursor:  pointer;
    color: black;

}

.middleFooter a {
    color: #A61B22;
    font-size: 64px;
    margin-right: 30px;
}

.middleFooter a:nth-last-child(1) {
    margin-right: 0px;
}

.secondFooter {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 50px;
}

.secondFooter h3 {
    margin:0;
    padding-top: 13px;
    color: black;
}


.about, .resources {
    padding: 25px 50px;
}

.about h1 {
    text-align: center;
}

.about p {
    font-family: "Martel Sans";
    text-indent: 50px;
    padding-top: 15px;
}

.text-csc {
    color: #A61B22;
}

.navbar-default .navbar-nav > li > a:hover {
    cursor: pointer;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
    color: black;
    cursor: pointer;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 35px;
    background: #eee;
    font-size: 16px;
}

.navbar-nav>li>.dropdown-menu li:hover {
    cursor: pointer;
}

.resources ul {
    list-style: none;
    min-height: 150px;
}

.resources ul li a {
    font-family: "Martel Sans";
    font-size: 18px;
    color: #A61B22;
}


.hiddenBackStripe {
display: none;
    height: 180px;
    background: #A61B22;
    width: 100%;
    position: absolute;
    top: 560px;
    left: 0;
    right: 0;
    z-index: -1001;
}



.container, .mainContainer, .homePage, .otherPages {
    padding: 0;
}

/*
*
* Download wallet page
*
*/

.marginbottom {
    margin-top: 50px;
}

.marginbottom .thumbnail {
    border: none;
    text-align: center;
}

.marginbottom .thumbnail i {
   font-size: 82px;
    color: #A61B22;
}

.marginbottom .thumbnail a{
    color: white;
}

.marginbottom .thumbnail button{
    background:#A61B22;
}


.marginTop {
    margin-top: 45px;
}

.text-left {
    text-align: left!important;
}

.nobottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.integration {
    padding: 25px;
}

.prypto .pryptoH1 {
    margin-bottom: 25px;
}

.prypto-redemption {
    width: 250px;
    margin: 0 auto;
}

.pryptoSubmit {
    width: 100%;
    margin-top: 15px;
}

@media(max-width: 667px), (max-width: 568px), (max-width: 320px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        margin-left: 15px;
    }
    .input-group {
        width: 80%;
    }
    .navbar-toggle {
        margin-right: 25px;
    }
    #mainNavBar {
        margin-top: 0px;
    }
    #mainLogo {
        padding: 25px 25px;
    }
    .mainLogo {
        width: 100%;
        height: 150px;
    }
}

@media(max-width: 769px) and (min-width: 668px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
        margin-top: 30px;
    }
    .inside {
        min-height: 230px;
    }
    .downloads button {
        margin-top: 10px;
    }
    hgroup h2 {
        text-align: center;
    }
    .input-group {
        width: 80%;
    }
    .navbar-toggle {
        margin-right: 25px;
    }
    #mainNavBar {
        margin-top: 0px;
    }
    #mainLogo {
        padding: 25px 25px;
    }

}


@media(min-width: 769px) and (max-width: 1024px) {
    #mainNavBar {
        margin-top: 0px;
    }
    #mainLogo {
        padding: 25px 25px;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 20px;
        margin-top: 30px;
    }
    .inside {
        min-height: 230px;
    }
    .downloads button {
        margin-top: 10px;
    }

    hgroup h2 {
        text-align: center;
    }

    .input-group {
        width: 80%;
    }

    .navbar-toggle {
        margin-right: 25px;
    }

}